 ![Emil]()

# Recall DataFrame Basics

1) Execute the following cell

In [1]:
import pandas as pd

df = pd.DataFrame({"A": [1, 2, 3, 4, 5, 6],
                   "B": [7, 8, 9, 10, 11, 12],
                   "C": [13, 14, 15, 16, 17, 18],
                   "D": ["a", "a", "a", "b", "b", "b"],
                   "E": ["c", "d", "c", "d", "c", "d"]})

2) Display columns and index names

In [9]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [10]:
df.index

RangeIndex(start=0, stop=6, step=1)

c) Put only column B in a variable `df_B`, what is the type of this variable?

In [12]:
df_B = df["B"]

In [13]:
type(df_B)

pandas.core.series.Series

d) Is the following code equivalent? Why?

df_B = df[["B"]]

The code is not equivalent, since the created variable is now a dataframe, instead of a series, as in the previous piece of code.

e) Create a DataFrame `df_E_B` containing columns B and E. We want column E to be before column B.

In [21]:
df[["E", "B"]]

   E   B
0  c   7
1  d   8
2  c   9
3  d  10
4  c  11
5  d  12

In [22]:
df_E_B = df[["E", "B"]]

f) Display rows 1 to 3 and columns B, C, D from `df` DataFrame.

In [27]:
df.loc[1:3, ["B", "C", "D"]]

    B   C  D
1   8  14  a
2   9  15  a
3  10  16  b

g) Why does this line of instruction cause an error?

In [29]:
df.iloc[1:3, 1:3]

   B   C
1  8  14
2  9  15

Because for iloc method, the stop point is not inclusive, so the result would not include the D column we are being asked about.

h) Filter `df` only on rows with a value in column B greater than or equal to 8.

In [30]:
df["B"] >=8

0    False
1     True
2     True
3     True
4     True
5     True
Name: B, dtype: bool

i) Filter the `df` only on rows with column B greater than or equal to 8 and column D equal to a.

In [38]:
df[(df["B"] >=8) & (df["D"] == "a")]

   A  B   C  D  E
1  2  8  14  a  d
2  3  9  15  a  c

j) What does this instruction do?

In [ ]:
df.loc[df["E"]=="c", "A"] = 8

k) Create a column F equal to 12

In [39]:
df["F"] = 12

In [40]:
df

   A   B   C  D  E   F
0  1   7  13  a  c  12
1  2   8  14  a  d  12
2  3   9  15  a  c  12
3  4  10  16  b  d  12
4  5  11  17  b  c  12
5  6  12  18  b  d  12

m) Calculate the average of columns A, B and E - think about the data type

In [65]:
df[["A", "B", "E"]].mean(axis=0)

C:\Users\ionel\AppData\Local\Temp\ipykernel_1392\2970928690.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[["A", "B", "E"]].mean(axis=0)

A    3.5
B    9.5
dtype: float64

Did it make sense for us to try to calculate the mean of Column E? Look at the documentation if you get any errors.

n) What happens if we repeat the previous instruction but pass axis=1 as parameter?

In [66]:
df[["A", "B", "E"]].mean(axis=1)

C:\Users\ionel\AppData\Local\Temp\ipykernel_1392\2677142062.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[["A", "B", "E"]].mean(axis=1)

0    4.0
1    5.0
2    6.0
3    7.0
4    8.0
5    9.0
dtype: float64

This calculates the average per row of the 3 columns